@import "tailwindcss";

@theme {
  --font-display: "Kalnia", serif;
  /* --font-display: "DM Serif Display", serif; */
  /* --font-display: "Koh Santepheap", serif; */
  --heading-size: 11vw;
  --leading-size: calc(var(--heading-size) + 5rem);

  --navbar-height: calc(var(--spacing) * 20);

  --custom-pink: rgba(255, 211, 218, 1);
  --custom-pink-50: rgba(255, 211, 218, 0.5);
  --custom-pink-25: rgba(255, 211, 218, 0.25);

  --custom-dark-pink: rgba(231, 107, 142, 1);
  --custom-dark-pink-50: rgba(231, 107, 142, 0.5);
  --custom-dark-pink-25: rgba(231, 107, 142, 0.25);

  --custom-plum: rgba(144, 54, 82, 1);
  --custom-plum-50: rgba(144, 54, 82, 0.5);
  --custom-plum-25: rgba(144, 54, 82, 0.25);

  --pink-logo: invert(70%) sepia(49%) saturate(227%) hue-rotate(306deg)
    brightness(115%) contrast(103%);
  --dark-pink-logo: invert(70%) sepia(66%) saturate(3358%) hue-rotate(303deg)
    brightness(94%) contrast(91%);
  --plum-logo: invert(29%) sepia(6%) saturate(6730%) hue-rotate(292deg)
    brightness(92%) contrast(89%);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: flex;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
